/*Colors and fonts */


body {
	background-color: rgb(230,230,230);
	color: #776B5D;
	font-family: "Helvetica";
	font-size: 17px;
	line-height: 1.6;
	letter-spacing: 0.7px;
	font-weight: 500;
}

h1, h2, h3 {
	font-family: "Cormorant Garamond", serif;
	text-align: center;
}

h1 {
		color: #860A35;
	font-weight: 900;
	font-size: 40px; 
}	


h2{
	color: #AF2655;
	font-size: 24px;
	font-weight: 900;

}

#maud{
	width: 200px;
	border-radius: 50%;
}


a {
	text-decoration : none;
	color : #A3B763;
	font-weight: bold;
	font-family: "Cormorant Garamond", serif;

}

a:hover {
	color: beige;
}

p{
	text-align: center;

}
div{
	background: white;
	padding: 50px;
	border: 2px grey;
	margin: 50px 10px;
	box-shadow: 0px 10px 35px rgba(50,50,93,.1);
	border-radius: 4px;
	text-align: center;
}




/* Custom design with class */

.container {
	width: 900px;
	margin: 40px auto;
	background-color: rgba(230,230,230,0);
}

@media (max-width: 960px) {
	.container {
		background-color : beige;
		width: 700px;

	}
}	

@media (max-width: 720px) {
	.container {
		background-color : beige;
		width: 600px;

	}
}	


@media (max-width: 500px) {
	.container {
		background-color : beige;
		width: 400px;

	}
}



.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.1)
	border-radius: 4px
	margin: 20px 0px
	text-align: center;
}

.btn-pink {
	background-color: #860A35;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-pink:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 0px;
}

.list-inline i{
	font-size: 50px;
	color: #A3B763;
}

.list-inline i:hover {
	color: black;
}

#introduction p{
	margin-bottom: 40px;
}




